@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
:root{
    --cor_1: #56eeff;
    --cor_2: #5B9ED9;
    --cor_3: #5a62f8;
    --cor_4: #9163F2;
    --cor_5: #CB3DF2;

    --Fonte_Titulo: 'Prompt', sans-serif;
    --Fonte_Input_Paragrafo: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgba(41, 211, 241, 0.616), rgba(163, 64, 255, 0.603) ), url(../Components/IMG/Background-generic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
div.Conteudo-Principal{
    height: 100%;
    width: 40vw;
    margin: auto;
    margin-top: 20px;
    background-color: #ffffff9f;
    border-radius: 5px;
    padding-bottom: 20px;
}
div.Container-Login{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.Bloco-1 > h1{
    font-family: var(--Fonte_Titulo);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7em;
    padding-bottom: 10px;
}
.Titulo-Input{
    margin-bottom: -15px;
    font-family: var(--Fonte_Input_Paragrafo);
    font-size: 0.9em;
    font-weight: bold;
}
.Senha-Input{
    margin-bottom: -15px;
    font-family: var(--Fonte_Input_Paragrafo);
    font-size: 0.9em;
    font-weight: bold;
}
div.Bloco-1 > label > input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 330px;
    height: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.568);
    border-style: unset;
    padding-left: 35px;
}
div.Bloco-1 > label > input:focus{
    outline-color: transparent;
}
div.Bloco-1 > label > img{
    position: relative;
    top: 27px;
    left: 7px;
}
div.Bloco-1 > a{
    font-family: var(--Fonte_Input_Paragrafo);
    font-size: 0.9em;
    font-weight: bold;
    display: block;
    height: 0;
    padding-bottom: 35px;
    margin-left: 5px;
    text-decoration: none;
    color: var(--cor_3);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
}
div.Bloco-1 > a:hover{
    text-decoration: underline;
}
div.Bloco-1 > button{
    display: block;
    margin: auto;
    width: 330px;
    height: 50px;
    border-radius: 20px;
    border: unset;
    background-image: linear-gradient(40deg, var(--cor_1), var(--cor_5));
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    letter-spacing: 3px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.767);
}
.switch{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}
.Texto-switch{
    padding-right: 10px;
    font-size: 1em;
    font-family: var(--Fonte_Input_Paragrafo);
    font-weight: bold;
}
.switch-personalizado{
    display: inline-block;
    width: 75px;
    height: 35px;
    position: relative;
}
.botao-switch{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: rgba(136, 135, 135, 0.63);
}
.switch-personalizado > input{
    opacity: 0;
    width: 0;
    height: 0;
}
.switch-personalizado > .botao-switch::before{
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: 5px;
    bottom: 7px;
    border-radius: 50%;
    transition: .4s all ease;
    background-color: white;
}
.switch-personalizado > input:checked + .botao-switch{
    background-color: var(--cor_5);
}
.switch-personalizado > input:checked + .botao-switch::before{
    transform: translateX(43px);
}
div.Container-Contas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
}
.Container-Contas > p{
    margin-top: 15px;
    padding-bottom: 15px;
    font-family: var(--Fonte_Input_Paragrafo);
    font-size: 0.94em;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}
div.Container-Imagens{
    display: flex;
    align-items: baseline;
    gap: 50px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: -10px;
}
.Container-Contas > a{
    font-family: var(--Fonte_Input_Paragrafo);
    font-size: 0.94em;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--cor_3);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
    text-align: center;
}
.Container-Contas > a:hover{
    text-decoration: underline;
}
footer > p{
    text-align: center;
    font-family: var(--Fonte_Input_Paragrafo);
    font-weight: bold;
}
footer > p > a{
    text-decoration: none;
    color: white;
}
footer > p > a:hover{
    background-color: var(--cor_4);
    transition: 1s all;
    border-radius: 4px;
    cursor: pointer;
}
@media (max-width: 950px){
    div.Conteudo-Principal{
        height: 100%;
        width: 65vw;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    div.Bloco-1 > label > input{
        width: 55vw;
    }
} 
@media (max-width: 600px){
    div.Conteudo-Principal{
        height: 100%;
        width: 85vw;
        padding-bottom: 20px;
    }
    div.Bloco-1 > h1{
        font-size: 1em;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    div.Bloco-1 > label > img{
        position: relative;
        top: 27px;
        left: 7px;
    }
    div.Bloco-1 > label > input{
        width: 70vw;
    }
    div.Bloco-1 > label > input::placeholder{
        font-size: 13px;
    }
    .Titulo-Input{
        font-size: 0.8em;
        margin-top: -10px;
        margin-left: 5px;
    }
    .Senha-Input{
        font-size: 0.8em;
        margin-left: 5px;
    }
    div.Bloco-1 > a{
        margin-left: 5px;
        font-size: 0.8em;
        height: 1px;
        margin-bottom: 15px;
    }
    div.Bloco-1 > button{
        width: 70vw;
        height: 45px;
    }
    .Container-Contas > p{
        font-size: 0.8em;
    }
    .Texto-switch{
        font-size: 0.8em;      
    }
    .switch-personalizado{
        width: 65px;
        height: 29px;
    }
    .switch-personalizado > .botao-switch::before{
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        left: 5px;
        bottom: 5px;
    }
    .switch-personalizado > input:checked + .botao-switch::before{
        transform: translateX(35px);
    }
    div.Container-Imagens{
        display: flex;
        gap: 20px;
        margin-bottom: 10px;
    }
    .Container-Contas{
        margin-top: -10px;
    }
    .Container-Contas > a{
        font-family: var(--Fonte_Input_Paragrafo);
        font-size: 0.8em;
        font-weight: bold;
    }
}
@media (max-width: 280px){
    div.Container-Imagens > a > img{
        max-height: 35px;
    }
}